
@font-face {
  font-family: 'Digestive';
  src: url('fonts/Digestive_v0.9-four_web.eot'); /* IE9 Compat Modes */
  src: url('fonts/Digestive_v0.9-four_web.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Digestive_v0.9-four_web.woff') format('woff');
}

@font-face {
  font-family: 'Ogg-Italic';
  src: url('fonts/Ogg-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/Ogg-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Ogg-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Ogg-Roman';
  src: url('fonts/Ogg-Roman.eot'); /* IE9 Compat Modes */
  src: url('fonts/Ogg-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Ogg-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Chapter';
  src: url('fonts/Chapter-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Chapter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Chapter-Regular.woff') format('woff');
}

h1 {
  font-family: "Digestive";
  font-size: calc(45px + (200 - 45) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

h2 {
  font-family: "Ogg-Roman";
  font-size: 25px;
  line-height: 1em;
  text-transform: uppercase;
  color: #161616;
}

h2 {
  font-family: "Ogg-Roman";
  font-size: 25px;
  line-height: 1em;
  text-transform: uppercase;
  color: #161616;
}

h3 {
  font-family: "Ogg-Roman";
  line-height: 1em;
  font-size: 25px;
  color: #161616;
}

h4 {
  font-family: "Ogg-Roman";
  font-size: 25px;
}

h5 {
  font-family: "Ogg-Roman";
  font-size: calc(45px + (75 - 45) * ((100vw - 300px) / (1600 - 300)));
  color: #161616;

  margin: .3em;
}

p {
  font-family: "Chapter";
  line-height: 1em;
  font-size: 16px;
  color: #161616;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #161616;
  background-color: #fcfcfc;
  perspective: 600px;
}


/* Info ==================== */
aside.info {
  position: fixed;
  top: 25px;
  right: 35px;
  width: 50px;
  height: 50px;
  /* display:inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;

  visibility: hidden;

  cursor: pointer;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px;
  border-color: #161616;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;

  transition: transform .3s ease;
}

div.circle2 {
  position: fixed;
  top: 35px;
  right: 45px;
  width: 30px;
  height: 30px;
  border: 1px;
  border-color: #161616;
  background: #fcfcfc;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  z-index: 20;
}

aside h4 {
  position: absolute;
  text-align: center;
  line-height: 0;
  cursor: pointer;

  transition: transform .3s ease;
}



/* Title ===================  */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  transform: translateY(-20%);
  /* line-height: 0; */
}


/* Video ============================ */
aside.closeBlock {
  position: fixed;
  top: 25px;
  left: 35px;
  width: 50px;
  height: 50px;
  /* display:inline-block; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 19;

  visibility: hidden;

  cursor: pointer;
}

aside.closeBlock h4 {
  font-size: 18px;
}

div.block {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fcfcfc;
  width: 100%;
  height: 0%;

  z-index: 10;
}

div.videoPage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  visibility: hidden;

  z-index: 11;

  transform: translateX(-50%) translateY(-60%);
}

#videoSRC {
  width: 65vw;
  height: auto;
  visibility: hidden;
}

div.videoPage h2 {
  margin-bottom: 8px;

}

div.videoPage h3 {
  margin-bottom: 12px;
}

div.videoPage p {
  margin-top: 24px;
  margin-bottom: 34px;
  text-align: center;
}

/* Bio ============================== */
div.bio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 21;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transform: translateY(-2.5%);

  visibility: hidden;
}

div.bio a {
  font-family: "Ogg-Roman";
  font-size: calc(45px + (75 - 45) * ((100vw - 300px) / (1600 - 300)));
  color: #161616;

  text-decoration: none;

  margin: .3em;
}

/* Images =========================== */

.outOfView {
  visibility: hidden;
}

main {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  /* z-index: 2; */

}

.Loop {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;


}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  transform: translateX(10%);

  transform-style: preserve-3d;
}

section:nth-of-type(odd) {
  transform: translateX(-10%);
}

::scrollbar {
  display: none;
}

section div {
  position: absolute;
  z-index: 5;
  /* transform: translateZ(100px); */
  text-align: center;
  width: 49.5%;
  height: 64.75%;
  background-color: rgba(252,252,252, 1);
  opacity: 0 !important;

  transition: opacity .3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px;
  border-color: #161616;
  border-style: solid;
}

/* section div h2 {
  transform: translateY(-50%);
} */

.open {
  opacity: 1 !important;
}



section img {
  position: absolute;
  width: 50%;
  transition: all .1s;
  will-change: transform;
  /* filter: blur(10px); */
}

.blurImage {
  filter: blur(8px);
}

.top {
  z-index: 3;
}

.blur {
  filter: blur(8px);
  z-index: 2;
  width: 51%;
}

.blur2 {
  filter: blur(15px);
  z-index: 1;
  width: 51%;
}

.opacity {
  visibility: hidden;
}
