
@font-face {
  font-family: 'Digestive';
  src: url('fonts/Digestive_v0.9-four_web.eot'); /* IE9 Compat Modes */
  src: url('fonts/Digestive_v0.9-four_web.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Digestive_v0.9-four_web.woff') format('woff');
}

h1 {
  font-family: "Digestive";
  font-size: 200px;
  font-size: calc(45px + (200 - 45) * ((100vw - 300px) / (1600 - 300)));
  text-transform: uppercase;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  color: #161616;
  background-color: #fcfcfc;
}

main {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  transform: translateY(-25%);
}

.Loop {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  transform: translateX(10%);
}

section:nth-of-type(odd) {
  transform: translateX(-10%);
}

::scrollbar {
  display: none;
}

section div {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  display: none;
}

section img {
  position: absolute;
  width: 50%;
  transition: transform .1s;
  /* filter: blur(10px); */
}

/* section img:hover {
  filter: blur(0px);
  cursor: pointer;
  width: 45%;
} */

.blur {
  filter: blur(8px);
  z-index: 1000;
  width: 52%;
}

.blur2 {
  filter: blur(8px);
  z-index: 0;
  width: 51%;
}

.opacity {
  visibility: hidden;
}
